<%= simple_form_for(@beer) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :abv %>
    <%= f.input :pumpclip %>
    <%= f.input :cost %>
    <%= f.input :stock %>
    <%= f.input :price_per_pint %>
    <%= f.association :style%>
    <%= f.association :brewery %>
    <%= f.association :dispense %>
    <%= f.input :description %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
