<h1>Listing dispenses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dispenses.each do |dispense| %>
      <tr>
        <td><%= dispense.name %></td>
        <td><%= link_to 'Show', dispense %></td>
        <td><%= link_to 'Edit', edit_dispense_path(dispense) %></td>
        <td><%= link_to 'Destroy', dispense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispense', new_dispense_path %>
