<%= simple_form_for(@beer) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :abv %>
    <%= f.input :stock %>
    <%= f.input :price_one %>
	<%= f.input :price_two %>
	<%= f.input :price_one_description %>
	<%= f.input :price_two_description %>
    <%= f.association :style%>
    <%= f.association :brewery %>
    <%= f.association :dispense %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
